
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root{
  --title-font: 'Inter', sans-serif;
  --text-font:  'Roboto', sans-serif;
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

*{
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--bg-color);
  padding: 10px;
}

nav {
  text-align: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-left: 10px;
}

nav li a {
  color: #FFFFFF;
  text-decoration: none;
}
.divider{
  width: 100%;
  background-color: var(--bg-color);
  padding: 0;
  margin: 0;
  text-align: center;
  color: #fff;
}
.nameText {
  color: #fff;
  font-size: 5rem;
  margin: 0 0 5rem 5rem;
  /* padding-top: 5rem; */
  letter-spacing: .1rem;
}
#skills{
  display: flex;
  height: 40%;
  justify-content: space-around;
}
.foundations{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
section {
  height: 100vh;
}

span {
  color: var(--main-color);
}
.btn{
  margin-left: 5rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 3rem;
  border-radius: 3rem;
}
#selfPicture{
 height: 50vh;
 border-radius: 50%;
 border: 3px solid #0ef;
}
#intro {
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./assets/images/tech.jpeg");
  opacity: 95%; */
  background-color: var(--second-bg-color);
  display: flex;
  align-items: center;
  gap: 7rem;
}

#About-Me {
  background-color: var(--second-bg-color);
}
#About-Me p {
  color: var(--text-color);
  padding: 4rem;
  text-align: center;
}

#My-work {
  background-color: var(--second-bg-color);
}
.project-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
  margin: 1rem;
}
.project h3{
  color: var(--text-color);
  text-align: center;
}
.project img {
  width: 100%;
}
footer{
  background-color: var(--bg-color);
  display: flex;
  gap: 2rem;
  justify-content: center;
  height: 10rem;
  align-items: center;
}