:root{
  --title-font: 'Inter', sans-serif;
  --text-font:  'Roboto', sans-serif;
}

*{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #423D3D;
  padding: 10px;
}

nav {
  text-align: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-left: 10px;
}

nav li a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: var(--text-font);

}
.divider{
  width: 100%;
  background-color: #423D3D;
  padding: 0;
  margin: 0;
  text-align: center;
  color: #fff;
  font-family: var(--title-font);
}
.nameText {
  color: #fff;
  font-size: 5rem;
  margin: 0 0 5rem 5rem;
  padding-top: 5rem;
  font-family: var(--title-font)
}
#skills{
  display: flex;
  height: 70%;
  align-items: center;
  justify-content: space-around;
}
section {
  height: 100vh;
}

span {
  color: #D1F10B;
}
.btn{
  margin-left: 5rem;
  font-size: 1.5rem;
  font-family: var(--text-font);
  font-weight: bold;
  padding: 1rem 3rem;
  border-radius: 3rem;
}
#intro {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./assets/images/tech.jpeg");
  opacity: 95%;
}

#About-Me {
  background-color: #F0DCDC;
}

section:nth-child(4) {
  background-color: #b5f437;
}