body {
  background-color: #45B2FA;
}
.navigation{
  background: #525FFA;
  color: #fff;
}
.footer-navigation{
  background: #525FFA;
}

.navigation{
  background-color: antiquewhite;
  display: flex;
  justify-content: flex-end;
}
nav{
  display: flex;
}
h1{
  background-color: orange;
  /*margin-right: auto;*/
  font-size: 150px;
  min-width: 200px;
}
li{
  display: inline-flex;
}

ul{
  display: flex;
  align-items: flex-end;
}
